<div class="container">
  <div class="title-position">
    <img class="logo-position" src="/src/images/logoSE.png" alt="logo">
    <h1 class="title">Simple Video Search Engine</h1>
  </div>
 
<form>
<div class="content-position">
  <span class="icon-position"><img src="/src/images/172546_search_icon.png" width="18" alt="icon"></span>
  <input type="text" id="search">
  
</div>
<!-- <div>
  <input type="submit" value="Search">
</div> -->
</form>

<div>
  <div class="video-position">
    <div id="videos"></div>
  </div>
</div>
<div>
  <button id="prevBtn" style="display: none;"><- Previous</button>
  <button id="nextBtn" style="display: none;">Next -></button>
</div>

<div class="gcse-search"></div>

</div>




  
